#todoapp
  header
    h1 Todos
    input#new-todo type="text" placeholder="What needs to be done?"

  section#main
    input#toggle-all type="checkbox"
    label for="toggle-all" Mark all as complete
    ul#todo-list

  footer
    a#clear-completed Clear completed
    #todo-count


#instructions Double-click to edit a todo.


#credits
  p Created by
  br
  a href="http://jgn.me/" J&eacute;r&ocirc;me Gravel-Niquet
  p .
  br
  p Rewritten by:
  a href="http://addyosmani.github.com/todomvc" TodoMVC
  p .


<script src="../../test/vendor/json2.js"></script>
<script src="todos.js"></script>

<!-- Templates -->

<script type="text/template" id="item-template">
  <div class="view">
    <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
    <label><%- title %></label>
    <a class="destroy"></a>
  </div>
  <input class="edit" type="text" value="<%- title %>" />
</script>

<script type="text/template" id="stats-template">
  <% if (done) { %>
    <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
  <% } %>
  <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
</script>



